.header-container {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/5png/Group\ 10132.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  .head-h1{
    color: white;
    margin: 50px;
  }

}
.swiper {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/5png/Group\ 10132.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // .head-h11{
  //  color: teal;
  // }
  
}
