<div class="swiper">
  <div class="w-100" style="position: absolute; z-index: 55555">
    <app-nav></app-nav>
    <!-- <div class="head-h11">
      <h1>WELCOME TO MAARES</h1>
    </div> -->
  </div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section class="header-container">
          <div class="head-h1">
            <h1>WELCOME TO MAARES</h1>
          </div>
        </section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section style="background-image: url('.././../assets/5png/crowns.png');" class="header-container">
          <div class="head-h1">
            <h1>WELCOME TO MAARES</h1>
          </div>
        </section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section class="header-container">
          <div class="head-h1">
            <h1>WELCOME TO MAARES</h1>
          </div>
        </section>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
