<div class="swiper">
  <div class="" style="position: absolute; z-index: 55555">
    <app-nav></app-nav>
    <div>
      <h1>WELCOME TO MAARES</h1>
    </div>
  </div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section class="header-container"></section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section class="header-container"></section>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <section class="header-container"></section>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
