.nav-container {
    background-color: tomato;
    background-image: linear-gradient(#fed94c, #f3c221);
    padding: 10px;
    .brand-image {
        // background-color: teal;
        img {
            background-color: white;
            width: 70px;
            padding: 10px 8px;
            border-radius: 50%;
        }
    }
    .links-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                a {
                    font-family: "Josefin Sans", sans-serif;
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
    .icons-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                font-size: 20px;
                color: white;
            }
        }
    }
}
.matiral-container {
    margin: 50px 0px;
    text-align: end;
    h3 {
        text-align: center;

        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
    }
    .adv-item-con {
        display: flex;
        justify-content: center;
        .Adv-item {
            text-align: center;
            margin: 20px;
            width: 200px;
            height: 235px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            // background-color: tomato;
            img {
                width: 100%;
                display: block;
            }
            button {
                width: 100%;
                background-image: linear-gradient(#fed94c, #f3c221);
                // height: 60px;
                height: 35px;
                font-weight: 700;
            }
        }
    }

    .see-more-btn {
        font-weight: 700;
        font-size: 20px;
        padding: 12px 44px;
        background-image: linear-gradient(#fed94c, #f3c221);
        margin: 30px;
        border-radius: 40px;
    }
}
