<app-nav></app-nav>
<section class="matiral-container">
  <h3>Matiral Advice</h3>
  <!-- <div class="container"> -->
  <div class="row justify-content-center mt-5">
    <div
      *ngFor="let item of data"
      class="col-lg-3 adv-item-con col-sm-6 col-12"
    >
    <!-- routerLink="subscription" -->
      <div routerLink="/marital-detailes/{{item.id}}" (click)="sendData(item)" class="Adv-item">
        <!-- {{item.image}} -->
        <img [src]="imgUrl + item.image" alt="" />
        <button class="btn item-btn">{{ item.name }}</button>
      </div>
    </div>
    <!--             
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="marital-advice" class="Adv-item">
                    <img src="../../assets/5png/5e4d119238539.png" alt="">
                    <button class="btn item-btn">Marital advice</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="/home/loans" class="Adv-item">
                    <img src="../../assets/5png/5e51037ac6dd3.png" alt="">
                    <button class="btn item-btn">Loans and facilities</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div class="Adv-item">
                    <img src="../../assets/5png/5e510681925ab.png" alt="">
                    <button class="btn item-btn">Life partner</button>
                </div>
            </div> -->
  </div>

  <!--         
        <div class="row justify-content-center mt-5">

            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="subscription" class="Adv-item">
                    <img src="../../assets/5png/5e4d106a92d46.png" alt="">
                    <button class="btn item-btn">Subscriptions</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="marital-advice" class="Adv-item">
                    <img src="../../assets/5png/5e4d119238539.png" alt="">
                    <button class="btn item-btn">Marital advice</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="/home/loans" class="Adv-item">
                    <img src="../../assets/5png/5e51037ac6dd3.png" alt="">
                    <button class="btn item-btn">Loans and facilities</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div class="Adv-item">
                    <img src="../../assets/5png/5e510681925ab.png" alt="">
                    <button class="btn item-btn">Life partner</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">

            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="subscription" class="Adv-item">
                    <img src="../../assets/5png/5e4d106a92d46.png" alt="">
                    <button class="btn item-btn">Subscriptions</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="marital-advice" class="Adv-item">
                    <img src="../../assets/5png/5e4d119238539.png" alt="">
                    <button class="btn item-btn">Marital advice</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div routerLink="/home/loans" class="Adv-item">
                    <img src="../../assets/5png/5e51037ac6dd3.png" alt="">
                    <button class="btn item-btn">Loans and facilities</button>
                </div>
            </div>
            <div class="col-lg-3 adv-item-con col-sm-6 col-12">
                <div class="Adv-item">
                    <img src="../../assets/5png/5e510681925ab.png" alt="">
                    <button class="btn item-btn">Life partner</button>
                </div>
            </div>
        </div> -->

  <button class="see-more-btn btn">See More</button>
  <!-- </div> -->
</section>
<app-send-us></app-send-us>
