<app-nav></app-nav>
<section class="editProfile-container">
    <div class="container">
        <h3>Edit Profile</h3>
        <div class="editProfile-box">
           
            <div class="w-100 row justify-content-center edit-inputs">
                <!-- <select class="form-control" name="length" id="length">
                    <option class="d-none" value="First Name">First Name</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Skin Color">Skin Color</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Color</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Type</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Length</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select> -->
               
             <div>
               <form [formGroup]="userData" (ngSubmit)="sendData()" action="">
                <input formControlName="FirstName" placeholder="First Name" class="form-control" type="text">
                <input formControlName="FamilyName"  placeholder="Family Name" class="form-control" type="text">
                <input formControlName="phone"  placeholder="Phone" class="form-control" type="text">
                <input formControlName="countryCode"  placeholder="Country Code" class="form-control" type="text">
                <input *ngIf="gender == 'false' " formControlName="guardianFemaleName"  placeholder="Guardin's Name" class="form-control" type="password">
                <input *ngIf="gender == 'false' " formControlName="guardianFemalePhone"  placeholder="Guardin's mobile" class="form-control" type="password">
                <input *ngIf="gender == 'false' " formControlName="guardianFemaleCountryCode"  placeholder="Guardin's Country Code" class="form-control" type="text">
                
                <button [disabled]='!userData.valid' class="btn com-btn">Completing</button>
               </form>
             </div>
            </div>
         
    
        </div>
    
    </div>
  
</section>
<app-send-us></app-send-us>