<section id="sendUs" class="sendUs-container">
    <div class="container">
        <h2>Send Us</h2>
        <div class="row">
            <form [formGroup]="data" (ngSubmit)="sendData()" class="row" action="">
            <div class="col-6">
                <div class="input-con">
                    <input formControlName="firstName" placeholder="First Name" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input formControlName="lastName"  placeholder="Last Name" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input formControlName="email"  placeholder="Email" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input formControlName="phone"  placeholder="Phone" class="form-control" type="text">
                </div>
            </div>
            <div class="col-12">
                <div class="input-con">
                    <textarea formControlName="message"  placeholder="Message" name="" id="" class="form-control" cols="30" rows="10"></textarea>
                </div>

            </div>
            <button type="submit" class="btn col-5">Send Message</button>
        </form>

        </div>
       
        

        <div class="row justify-content-center footer-grid-container">
            <div class="col-12 footer-menu">
                <ul>
                    <li routerLink="/home">HOME</li>
                    <li routerLink="/service">SERVICE</li>
                    <li routerLink="/login">SignIn</li>
                    <li routerLink="/register">Register</li>
                </ul>
            </div>
            <!-- 3 grid -->
            <div class="col-md-4 col-6 p-0 grid-container">
                <div class="footer-icons-container">
                  <img src="../../assets/5png/2.png" alt="">
                  <img src="../../assets/5png/Artboard 1.png" alt="">
                  <img src="../../assets/5png/12.png" alt="">
                </div>
                <p>sharing app</p>

            </div>
            <div class="col-md-4 col-6 grid-container footer-grid-brand">
               <img src="../../assets/5png/Group 10089.png" alt="">
               <h3>Ma3ress</h3>
            </div>
            <div class="col-md-4 col-12 grid-container footer-grid-data">
               <span>name</span>
               <i class="fas fa-home"></i>
               <span>555555</span>
             </div>
        </div>
        <h3 class="text-center text-light text-bold mt-5"> © Copyright 2019. All right Reserved.</h3>
    </div>
</section>