<section id="sendUs" class="sendUs-container">
    <div class="container">
        <h2>Send Us</h2>
        <div class="row">
            <div class="col-6">
                <div class="input-con">
                    <input placeholder="First Name" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input placeholder="Last Name" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input placeholder="Email" class="form-control" type="text">
                </div>
            </div>
            <div class="col-6">
                <div class="input-con">
                    <input placeholder="Phone" class="form-control" type="text">
                </div>
            </div>
            <div class="col-12">
                <div class="input-con">
                    <textarea placeholder="Message" name="" id="" class="form-control" cols="30" rows="10"></textarea>
                </div>

            </div>

        </div>
        <button class="btn">Send Message</button>

        <div class="row justify-content-center footer-grid-container">
            <div class="col-12 footer-menu">
                <ul>
                    <li>HOME</li>
                    <li>SERVICE</li>
                    <li>SignIn</li>
                    <li>Register</li>
                </ul>
            </div>
            <!-- 3 grid -->
            <div class="col-md-4 col-6 p-0 grid-container">
                <div class="footer-icons-container">
                  <img src="../../assets/5png/2.png" alt="">
                  <img src="../../assets/5png/Artboard 1.png" alt="">
                  <img src="../../assets/5png/12.png" alt="">
                </div>
                <p>sharing app</p>

            </div>
            <div class="col-md-4 col-6 grid-container footer-grid-brand">
               <img src="../../assets/5png/Group 10089.png" alt="">
               <h3>Ma3ress</h3>
            </div>
            <div class="col-md-4 col-12 grid-container footer-grid-data">
               <span>name</span>
               <i class="fas fa-home"></i>
               <span>555555</span>
             </div>
        </div>
        <h3 class="text-center text-light text-bold mt-5"> © Copyright 2019. All right Reserved.</h3>
    </div>
</section>