.nav-container {
   
    // background-color: ;
    background-image: linear-gradient(#f3c221 ,#fed94c );
    padding: 10px;
    .brand-image {
        // background-color: teal;
        img {
            background-color: white;
            width: 70px;
            padding: 10px 8px;
            border-radius: 50%;
        }
    }
    .links-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                span {
                    font-family: "Josefin Sans", sans-serif;
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
    .icons-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                font-size: 20px;
                color: white;
            }
        }
    }
}

h2{
    font-family: "Josefin Sans", sans-serif;
}
.service-item{
    padding: 10px;
    // margin: 20px;
    position: relative;
    overflow: hidden;
    height: 335px;
    width: 300px;
    &:hover{
        .layer{
            transform: translateY(0);
        }
    }
    img{
        width: 100%;
    }
    .layer{
        // width: 300px;
        padding: 10px;
        color: white;
        text-align: center;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(400px);
        transition: all 0.4s ease-in;
        h4{
            margin: 15px 0px 30px 0px ;
            font-family: "Josefin Sans", sans-serif;
        }
        p{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        span{
            margin: 0px 20px;
            font-weight: 600;
            font-family: "Josefin Sans", sans-serif;
            a{
                text-decoration: none;
            }
        }
        i{
            color: #f3c221;
            font-size: 20px;
        }
    }
}