<section class="login-container">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4 login-img">
            <img src="../../assets/5png/Group 10089.png" alt="">
            <p>Log In</p>
            <button class="btn">Login</button>
        </div>
        <div class="col-md-6 login-inputs">
          <div>
            <input placeholder="First Name" class="form-control" type="text">
            <input  placeholder="Password" class="form-control" type="text">
            <b routerLink="/forgetPassword"><p>Forget Password ?</p></b>
     
            <p>I Have An Account <span routerLink="/register">Log Up</span></p>
          </div>
        </div>
    </div>
</div>

</section>
