.login-container {
  font-family: "Josefin Sans", sans-serif;
  margin: 50px;
  .login-img {
    // background-color: tomato;
    text-align: center;
    img {
      width: 100%;
    }
    p {
      font-size: 23px;
      font-weight: 800;
      margin: 30px 0px;
    }
    button {
      background-color: #fed94c;
      padding: 20px 48px;
      margin: 30px 0px;
    }
  }
  .login-inputs {
    // background-color: teal;
    display: flex;
    align-items: center;

    div {
      width: 100%;
      input {
        border: none;
        border-bottom: 2px #fed94c solid;
        margin: 50px 0px;

        &::placeholder {
          font-weight: 800;
          padding: 30px 50px;
          font-size: 25px;
        }
      }
      b {
        p {
          text-align: end;
          // background-color: #fed94c;
        }
      }
      p {
        text-align: center;
        margin: 30px;
        span {
          color: #fed94c;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }
  }
}

.myModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  overflow: auto;
  display: none;

  .modalBox {
    text-align: center;
    background-color: #efefef;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    width: 350px;
    min-height: 70vh;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;

    #closeModal {
      position: absolute;
      right: 15px;
      top: 15px;
      color: #fed94c;
      cursor: pointer;
    }
    .info-con {
      display: flex;
      justify-content: space-between;
      font-family: "Josefin Sans", sans-serif;
      // margin: 20px;
      p {
        font-size: 22px;
        font-weight: 800;
      }
    }
    span {
      font-weight: 600;
      font-family: "Josefin Sans", sans-serif;
    }
    #seeMoreBtn,
    #modalAcceptBtn {
      // position: absolute;
      // bottom: -30px;
      // left: 50%;
      // //    right: 50%;
      // transform: translate(-50%, -50%);
      background-image: linear-gradient(#fed94c, #f3c221);
      padding: 6px 44px;
      font-size: 20px;
      font-weight: 700;
      border-radius: 20px;
    }
    .checkbox {
      font-size: 20px;
      font-weight: 500;
      //    label{

      //    }
    }
  }
}
// select{
//   width: 70%;
//   padding: 30px;
//   border-radius: 15px;
//   margin: 20px;
//   border: none;
//   outline: none;
//   box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;

//   option {
//       font-size: 20px;
//       font-weight: 600;
//       color: black;
//   }
// }
input ,select {
  border: none;
  border-bottom: 2px #fed94c solid;
  margin: 50px 0px;
 
  &::placeholder {
    font-weight: 800;
    background-color: hsl(0, 0%, 98%);
  }
}
