<section class="login-container">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-4 login-img">
            <img src="../../assets/5png/Group 10089.png" alt="">
            <p>Log In</p>
            <button [disabled]='!userData.valid'(click)="sendData()" class="btn">Login</button>
        </div>
        <div class="col-md-6 login-inputs">
          <div>
           <form [formGroup]="userData" action="">
            <input formControlName="PHONE" placeholder="Phone Number" class="form-control" type="text">
            <!-- <input formControlName="COUNTRYCODE" placeholder="Country Code" class="form-control" type="text">-->
              <select formControlName="COUNTRYCODE" class="form-control"  type="text" name="" id="">
                    <option  class="d-none" value="Counrty Code">Counrty Code</option>
                    <option *ngFor="let key of conntriesCodes" value="key">{{key}}</option>
                </select> 
            <input formControlName="PASSWORD" placeholder="Password" class="form-control" type="password">
           </form>
            <b style="cursor: pointer;" routerLink="/forgetPassword"><p>Forget Password ?</p></b>
     
            <p>I Have An Account <span routerLink="/register">Log Up</span></p>
          </div>
        </div>
    </div>
</div>

</section>


<div id="myModal" class="myModal">
  <div class="modalBox">
      <!-- <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i> -->

      <div class="row">
       
          <div class="col-12 mt-5">
            <span>{{femaleTerms}}</span>
            <form [formGroup]="parentData" (ngSubmit)="sendParentData()" action="">
              <input  formControlName="name"  placeholder="Guardin's Name" class="form-control" type="text">
              <input  formControlName="phone"  placeholder="Guardin's mobile" class="form-control" type="text">
              <input  formControlName="countryCode"  placeholder="Guardin's Country Code" class="form-control" type="text">
              
              <button  id="modalAcceptBtn" [disabled]='!parentData.valid' class="btn com-btn">Completing</button>
             </form>

          </div>

      </div>
     



      <!-- 
     
       -->
  </div>
</div>