<section class="pass-container d-flex justify-content-center align-items-center">

    <div class="box-container">

        <img src="../../assets/5png/Group 10089.png" alt="">
        <h3>CHANGE PASSWORD</h3>
        <form [formGroup]="passData" action="">
            <input formControlName="oldPassword" placeholder="Old Password" class="form-control" type="password">
            <input formControlName="newPassword" placeholder="New Password" class="form-control" type="password">
            <input formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" type="password">
        <button [disabled]="!passData.valid" (click)="changePass()" class="btn">Change</button>
        </form>
    </div>
</section>