.nav-container {
    background-color: tomato;
    background-image: linear-gradient(#fed94c, #f3c221);
    padding: 10px;
    .brand-image {
        // background-color: teal;
        img {
            background-color: white;
            width: 70px;
            padding: 10px 8px;
            border-radius: 50%;
        }
    }
    .links-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                a {
                    font-family: "Josefin Sans", sans-serif;
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }
    .icons-con {
        ul {
            display: flex;
            list-style: none;
            li {
                margin: 10px;
                font-size: 20px;
                color: white;
            }
        }
    }
}

.nomination-container {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    h2 {
        font-family: "Josefin Sans", sans-serif;
        margin: 30px;
    }

    .nomination-box {
        padding: 30px 0px;
        background-color: hsl(0, 0%, 95%);
        text-align: center;
        // display: flex;
        p {
            font-size: 20px;
            font-weight: 500;
        }
        #packages,
        input {
            width: 70%;
            // display: block;
            // appearance: ; 
            padding: 30px 80px;
            border-radius: 15px;
            margin: 20px;
            border: none;
            outline: none;
            box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;

            &::placeholder {
                font-size: 20px;
                font-weight: 600;
                color: black;
            }
        }
        
        .text-inv{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 600;

        }

        .counter-con {
            display: flex;
            // background-color: tomato;
            justify-content: space-around;
            .discreaseBtn , .increaseBtn {
                padding: 15px 30px;
                background-color: white;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;

            }
            .counter{
                padding: 15px 30px;

            }
        }

        button{
            width: 50%;
            margin: 30px;
            background-image: linear-gradient(#fed94c, #f3c221);
            padding: 12px 24px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 20px;
        }
    }
}

.myModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    overflow: auto;
    display: none;

    .modalBox {
        text-align: center;
        background-color: #efefef;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        width: 500px;
        min-height: 94vh;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        h3{
            font-size: 35px;
            color: #fed94c;
        }
       
        #closeModal {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #fed94c;
            cursor: pointer;
        }
        .info-con{
            display: flex;
            justify-content: space-between;
            font-family: "Josefin Sans", sans-serif;
            span{
                font-size: 22px;
                font-weight: 800;

            }
        }
       #modalAcceptBtn{
           position: absolute;
           bottom: 80px;
           left: 50%;
           right: 50%;
           transform: translate(-50% ,-50%);
           background-image: linear-gradient(#fed94c , #F3C221);
           padding: 12px 24px;
           font-size: 20px;
           font-weight: 700;

       }
       .checkbox{
        font-size: 20px;
        font-weight: 500;
        //    label{
              
        //    }
       }

    }
}