<app-nav></app-nav>
<section class="lifePartner-container">
    <div class="container">
        <h3>
            Life Partner 
        </h3>
        <div class="Apperance-box">
            <h3>Apperance</h3>
            <div class="w-100 row justify-content-center">
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Length</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Skin Color">Skin Color</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Color</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Type</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <select class="form-control" name="length" id="length">
                    <option class="d-none" value="Length">Hair Length</option>
                    <option class="op" value="150-170">150-170</option>
                    <option class="op" value="170-180">170-180</option>
                    <option class="op" value="180-190">180-190</option>
                    <option class="op" value="190-200">190-200</option>
                </select>
                <button class="btn com-btn">Completing</button>
            </div>
         
    
        </div>
    
    </div>
  
</section>
<app-send-us></app-send-us>