.lifePartner-container {
    // margin: 50px 0px;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    h3 {
        text-align: start;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
    }



    .appearance-box {
        background-color: hsl(0, 0%, 98%);
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 30px 0px;
        padding: 30px 50px;
        overflow: hidden;
        .myHeaderText {
            font-size: 18px;
           
        }
     
        .e-active .e-tab-text{
            color: #fed94c !important;
        }
        .e-indicator {
            background-color: #f3c221 !important;
        }
       
        .form-control{
            padding: 0 !important;
            // background-color: teal !important;
        }

        .profile-inputs {
            // background-color: teal;
            display: flex;
            align-items: center;

            background-color: hsl(0, 0%, 98%);
            div {
                width: 100%;
                background-color: hsl(0, 0%, 98%);
                input , select , option {
                    border: none;
                    border-bottom: 2px #fed94c solid;
                    margin: 50px 0px;
                    padding:30px 50px ;
                    background-color: hsl(0, 0%, 98%);
                    
                    font-weight: 600;
                    padding: 30px 50px;
                    font-size: 18px;
                   
                    &::placeholder {
                        font-weight: 600;
                        padding: 30px 50px;
                        font-size: 18px;
                        background-color: hsl(0, 0%, 98%);
                    }
                }
                b {
                    p {
                        text-align: end;
                        // background-color: #fed94c;
                    }
                }
                p {
                    text-align: center;
                    margin: 30px;
                    span {
                        color: #fed94c;
                        font-weight: 800;
                        cursor: pointer;
                    }
                }
            }
        }
        .com-btn {
            background-image: linear-gradient(#fed94c, #f3c221);
            padding: 12px 40px;
            font-weight: 700;
            // width: 25%;
            border-radius: 30px;
        }

        .op {
            padding: 20px;
            font-weight: 700;
            font-size: 20px;
            margin: 20px;
        }
    }
   
    // .Apperance-box {
    //     background-color: hsl(0, 0%, 98%);
    //     text-align: center;
    //     display: flex;
    //     justify-content: center;
    //     flex-wrap: wrap;
    //     // margin: 30px 0px;
    //     padding: 30px 0px;
    //     h3 {
    //         display: inline-block;
    //         text-align: center;
    //     }
    //     select{
    //         font-weight: 700;
    //         width: 80%;
    //         border: none;
    //         border-bottom: 1px solid #FED94C;
    //         padding: 20px;
    //         margin: 30px;
    //         outline: none;
    //         background-color: hsl(0, 0%, 98%);
    //     }
    //     .com-btn{
    //         background-image: linear-gradient(#FED94C ,#F3C221);
    //         padding: 12px 40px;
    //         font-weight: 700;
    //         width: 25%;
    //         border-radius: 30px;
    //     }
        
    //     .op{
    //         padding: 20px;
    //         font-weight: 700;
    //         font-size: 20px;
    //         margin: 20px;
    //     }
    // }
}

.myModal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    overflow: auto;
    display: none;

    .modalBox {
        text-align: center;
        background-color: #efefef;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        width: 500px;
        min-height: 70vh;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px;
        h3 {
            font-size: 35px;
            color: #fed94c;

            .fa-check {
                padding: 20px;
                border-radius: 50%;
                background-color: #efefef;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

        #closeModal {
            position: absolute;
            right: 15px;
            top: 15px;
            color: #fed94c;
            cursor: pointer;
        }
        .info-con {
            display: flex;
            justify-content: center;
            font-family: "Josefin Sans", sans-serif;
            span {
                font-size: 22px;
                font-weight: 400;
            }
            p {
                font-weight: bold;
                font-size: 30px;
            }
        }

        .checkbox {
            font-size: 20px;
            font-weight: 500;
        }
    }
}


@media all and (max-width: 450px) and (min-width: 50px) {

    .lifePartner-container {
        // margin: 50px 0px;
        font-family: "Josefin Sans", sans-serif;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        h3 {
            text-align: start;
            font-family: "Josefin Sans", sans-serif;
            font-weight: 700;
        }
    
    
    
        .appearance-box {
            background-color: hsl(0, 0%, 98%);
            text-align: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 30px 0px;
            padding: 30px 50px;
            overflow: hidden;
            .myHeaderText {
                font-size: 18px;
               
            }
         
            .e-active .e-tab-text{
                color: #fed94c !important;
            }
            .e-indicator {
                background-color: #f3c221 !important;
            }
           
            .form-control{
                padding: 0 !important;
                // background-color: teal !important;
            }
    
            .profile-inputs {
                // background-color: teal;
                display: flex;
                align-items: center;
    
                background-color: hsl(0, 0%, 98%);
                div {
                    width: 100%;
                    background-color: hsl(0, 0%, 98%);
                    input , select , option {
                        border: none;
                        border-bottom: 2px #fed94c solid;
                        margin: 50px 0px;
                        padding:30px 50px ;
                        background-color: hsl(0, 0%, 98%);
                        
                        font-weight: 600;
                        padding: 30px 50px;
                        font-size: 16px;
                       
                        &::placeholder {
                            font-weight: 600;
                            padding: 30px 50px;
                            font-size: 16px;
                            background-color: hsl(0, 0%, 98%);
                        }
                    }
                    b {
                        p {
                            text-align: end;
                            // background-color: #fed94c;
                        }
                    }
                    p {
                        text-align: center;
                        margin: 30px;
                        span {
                            color: #fed94c;
                            font-weight: 800;
                            cursor: pointer;
                        }
                    }
                }
            }
            .com-btn {
                background-image: linear-gradient(#fed94c, #f3c221);
                padding: 12px 40px;
                font-weight: 700;
                // width: 25%;
                border-radius: 30px;
            }
    
            .op {
                padding: 20px;
                font-weight: 700;
                font-size: 20px;
                margin: 20px;
            }
        }
       
        // .Apperance-box {
        //     background-color: hsl(0, 0%, 98%);
        //     text-align: center;
        //     display: flex;
        //     justify-content: center;
        //     flex-wrap: wrap;
        //     // margin: 30px 0px;
        //     padding: 30px 0px;
        //     h3 {
        //         display: inline-block;
        //         text-align: center;
        //     }
        //     select{
        //         font-weight: 700;
        //         width: 80%;
        //         border: none;
        //         border-bottom: 1px solid #FED94C;
        //         padding: 20px;
        //         margin: 30px;
        //         outline: none;
        //         background-color: hsl(0, 0%, 98%);
        //     }
        //     .com-btn{
        //         background-image: linear-gradient(#FED94C ,#F3C221);
        //         padding: 12px 40px;
        //         font-weight: 700;
        //         width: 25%;
        //         border-radius: 30px;
        //     }
            
        //     .op{
        //         padding: 20px;
        //         font-weight: 700;
        //         font-size: 20px;
        //         margin: 20px;
        //     }
        // }
    }
    


}