<app-header></app-header>

<section class="sub-container">
    <div class="container p-0">
        <h2>Subscriptions</h2>
        <ul class="sub-menu">
            <!-- <li>Bouquets Plain</li>
            <li>Bouquets Search</li>
            <li>Bouquets Premium</li> -->
            <li (click)="getSub(li)" *ngFor="let li of lis">{{li.name}}</li>
        </ul>

        <div class="row myRow">
            <div (click)="openModal(bigImage)" [ngStyle]="{ 'background-image': 'url(' + imgUrl+bigImage.image + ')'}"
                class="main-img col-12">
                <div class="layer">
                </div>
                <div class="sub-item">

                    <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, iusto itaque placeat sequi
                        rerum totam sed facere quas officiis, repudiandae dolore fuga. Quam minus excepturi dolore, nisi
                        officiis culpa rerum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eos
                        eligendi, ipsa quam unde numquam velit distinctio iste repellat est deserunt, aperiam, tempora
                        porro cupiditate sit asperiores ex? Dolore, ex.</p> -->
                    <p>{{bigImage.name}}</p>
                    <!-- <button class="btn" (click)="openModal(bigImage)">Subscripe package</button> -->

                </div>
            </div>


            <div (click)="openModal(package)" *ngFor="let package of Data" class="col-md-6">
                <div [ngStyle]="{ 'background-image': 'url(' + imgUrl+package.image + ')'}" class="left-item sub-item">
                    <div>
                        <p>{{package.name}}</p>
                        <span> {{package.identifier}}</span>
                    </div>
                    <div class="layer">
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="right-item sub-item">
                    <div class="layer">

                    </div>
                    <div>
                        <p>Package Of 100 Dinars</p>
                        <span> 20 Nominations Are Nominated With First-Level Filtering Priority</span>
                    </div>
                </div>
            </div> -->
        </div>


    </div>
</section>
<div id="myModal" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i>
        <p>{{modalData.desc}}</p>

        <div class="modalBtns">
            <button (click)="openModal1()" [disabled]="!isLogin" id="modalAcceptBtn" class="btn">Package Subscribe</button>
            <button routerLink="/register"  [disabled]="isLogin" id="modalRegisterBtn" class="btn">Register</button>
        </div>

    </div>
</div>
<app-send-us></app-send-us>



<div id="myModal1" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal1()" id="closeModal" class="fas fa-times"></i>
        <h3>الشروط و الاحكام</h3>
        <p>{{terms}}</p>
            <label class="checkbox">
                اوافق علي الشروط و الاحكام 
                <input (change)="checkedFun()" type="checkbox" value="accept" id="remember_me"> 
            </label>
            <!-- if true then disabled -->
            <button  [disabled]="!checked" id="modalAcceptBtn" class="btn mt-2"><a target="_blank" href="https://m3arees.in/PayMent/Index?userId={{userId}}&subpackageId={{packageId}}">Accept</a></button>

    </div>
  </div>