<app-nav></app-nav>
<section class="profile-container">
    <div class="container">
        <div class="row justify-content-center my-5">
            <div class="col-md-6 user-info">
                <div>
                    <p>{{data.firstName}}</p>
                    <p>{{data.countryCode}} {{data.phone}}</p>
                </div>

            </div>
            <div class="col-md-6 user-btns">
                <div>
                    <button (click)="openModal1()" class="btn">System Recomendations</button>
                    <button [disabled]="!inPending" routerLink="/bending-maching" class="btn">Pending Maching</button>
                    <button routerLink="/life-partner" class="btn">Life Partner Date</button>
                    <button routerLink="/editProfile" class="btn">Edit Profile</button>
                    <button routerLink="/appearanceData" class="btn">Appearance Data</button>
                </div>

            </div>
        </div>
        <span class="boq-span">Your Bouquests</span>
        <div class="row justify-content-center Bouquest-container">
            <div class="col-md-4">
                <p>Bouquests Plain</p>
                <p>Nominations Plain <span>15</span></p>
                <p>Search Plain <span>4</span></p>
            </div>
            <div class="col-md-4">
                <p>Bouquests search</p>
                <p>Search <span>4</span></p>

            </div>
            <div class="col-md-4">
                <p>Bouquests Premium</p>
                <p>Premium <span>7 Days</span></p>

            </div>


        </div>
        <!-- <div class="d-flex btns-con justify-content-evenly">
            <button style="background-color: #F3C221;" class="btn">Appearance</button>
            <button class="btn">Lifestyle</button>
            <button class="btn">Cultural Values</button>
        </div> -->
        <div class="appearance-box">
            <ejs-tab id="element">
                <e-tabitems>
                    <e-tabitem>
                        <ng-template #headerText>
                            <div class="myHeaderText">Appearance </div>
                        </ng-template>
                        <ng-template #content>


                            <div class="w-100 row justify-content-center profile-inputs">

                                <div>
                                    <form [formGroup]="userApperanceData1" action="">
                                        <div *ngIf='
                                        userApperanceData1.controls.length.touched &&
                                        userApperanceData1.controls.length.valid' class="propertyName" >
                                            <p> Length </p>
                                        </div>
                                        <select formControlName="length" class="form-control" name="length" id="length"
                                            ngModel>
                                            <!-- this.apperanceLength.selectedText[0] -->
                                            <!-- Length -->
                                           
                                            <option value="" class="d-none"> Length </option>
                                            <option *ngFor="let len of apperanceLength.results" class="op"
                                                [ngValue]="len.id">{{len.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData1.controls.Weight.touched &&
                                        userApperanceData1.controls.Weight.valid' class="propertyName" >
                                            <p> Weight </p>
                                        </div>
                                        <select formControlName="Weight" class="form-control" name="Weight" ngModel>
                                            <option value="" class="d-none">Weight</option>
                                            <option *ngFor="let wei of apperanceWeight.results" class="op"
                                                [ngValue]="wei.id">{{wei.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData1.controls.Appearances.touched &&
                                        userApperanceData1.controls.Appearances.valid' class="propertyName" >
                                            <p> Appearances </p>
                                        </div>
                                        
                                        <select formControlName="Appearances" class="form-control" name="Weight"
                                            ngModel>
                                            <option value="" class="d-none">Appearances</option>
                                            <option *ngFor="let app of apperanceAppearances.results" class="op"
                                                [ngValue]="app.id">{{app.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData1.controls.BodyType.touched &&
                                        userApperanceData1.controls.BodyType.valid' class="propertyName" >
                                            <p> Body Type </p>
                                        </div>

                                        <select formControlName="BodyType" class="form-control" name="BodyType"
                                            id="BodyType" ngModel>
                                            <option value="" class="d-none">Body Type</option>
                                            <option *ngFor="let bt of apperanceBodyType.results" class="op"
                                                [ngValue]="bt.id">{{bt.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData1.controls.SkinColor.touched &&
                                        userApperanceData1.controls.SkinColor.valid' class="propertyName" >
                                            <p> Skin Color </p>
                                        </div>
                                        <select formControlName="SkinColor" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Skin Color</option>
                                            <option *ngFor="let sc of apperanceSkinColor.results" class="op"
                                                [ngValue]="sc.id">{{sc.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData1.controls.HairColor.touched &&
                                        userApperanceData1.controls.HairColor.valid' class="propertyName" >
                                            <p> Hair Color </p>
                                        </div>
                                        <select formControlName="HairColor" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Hair Color</option>
                                            <option *ngFor="let hc of apperanceHairColor.results" class="op"
                                                [ngValue]="hc.id">{{hc.text}}</option>

                                        </select>



                                        <div *ngIf='
                                        userApperanceData1.controls.HairLength.touched &&
                                        userApperanceData1.controls.HairLength.valid' class="propertyName" >
                                            <p> Hair Color </p>
                                        </div>
                                        <select formControlName="HairLength" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Hair Length</option>
                                            <option *ngFor="let hl of apperanceHairLength.results" class="op"
                                                [ngValue]="hl.id">{{hl.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData1.controls.HairType.touched &&
                                        userApperanceData1.controls.HairType.valid' class="propertyName" >
                                            <p> Hair Type </p>
                                        </div>
                                        <select formControlName="HairType" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Hair Type</option>
                                            <option *ngFor="let ht of apperanceHairType.results" class="op"
                                                [ngValue]="ht.id">{{ht.text}}</option>

                                        </select>
                                        <!-- <input placeholder="Weight" class="form-control" type="text">
                                    <input placeholder="Appearance" class="form-control" type="text">
                                    <input placeholder="Body Type" class="form-control" type="text">
                                    <input placeholder="Skin Color" class="form-control" type="text">
                                    <input placeholder="Hair Color" class="form-control" type="text">
                                    <input placeholder="Hair Type" class="form-control" type="text">
                                    <input placeholder="Hair Length" class="form-control" type="text"> -->
                                    </form>
                                    <!-- <button (click)="sendData()" class="btn com-btn">Completing</button> -->
                                </div>
                            </div>


                        </ng-template>
                    </e-tabitem>
                    <e-tabitem>
                        <ng-template #headerText>
                            <div class="myHeaderText"> Lifestyle </div>
                        </ng-template>
                        <ng-template #content>
                            <div class="w-100 row justify-content-center profile-inputs">

                                <div>
                                    <form [formGroup]="userApperanceData2" action="">

                                        <div *ngIf='
                                        userApperanceData2.controls.Age.touched &&
                                        userApperanceData2.controls.Age.valid' class="propertyName" >
                                            <p> Age </p>
                                        </div>


                                        <select formControlName="Age" class="form-control" name="length" id="length"
                                            ngModel>
                                            <option value="" class="d-none">Age</option>
                                            <option *ngFor="let age of lifeStyleAge.results" class="op"
                                                [ngValue]="age.id">{{age.text}}</option>
                                        </select>


                                        <div *ngIf='
                                        userApperanceData2.controls.SocialStatus.touched &&
                                        userApperanceData2.controls.SocialStatus.valid' class="propertyName" >
                                            <p> Social Status </p>
                                        </div>
                                        <select formControlName="SocialStatus" class="form-control" name="Weight"
                                            ngModel>
                                            <option value="" class="d-none">Social Status</option>
                                            <option *ngFor="let ss of lifeStyleSocialStatus.results" class="op"
                                                [ngValue]="ss.id">{{ss.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData2.controls.Occupation.touched &&
                                        userApperanceData2.controls.Occupation.valid' class="propertyName" >
                                            <p> Occupation </p>
                                        </div>
                                        <select formControlName="Occupation" class="form-control" name="Weight" ngModel>
                                            <option value="" class="d-none">Occupation</option>
                                            <option *ngFor="let occ of lifeStyleOccupation.results" class="op"
                                                [ngValue]="occ.id">{{occ.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData2.controls.NumberofChildren.touched &&
                                        userApperanceData2.controls.NumberofChildren.valid' class="propertyName" >
                                            <p> Number of Children </p>
                                        </div>

                                        <select formControlName="NumberofChildren" class="form-control" name="BodyType"
                                            id="BodyType" ngModel>
                                            <option value="" class="d-none">Number of Children</option>
                                            <option *ngFor="let bt of lifeStyleNumberofChildren.results" class="op"
                                                [ngValue]="bt.id">{{bt.text}}</option>

                                        </select>
                                        <div *ngIf='
                                        userApperanceData2.controls.MoreBoys.touched &&
                                        userApperanceData2.controls.MoreBoys.valid' class="propertyName" >
                                            <p> More Boys </p>
                                        </div>
                                        <select formControlName="MoreBoys" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">More Boys</option>
                                            <option *ngFor="let sc of lifeStyleMoreBoys.results" class="op"
                                                [ngValue]="sc.id">{{sc.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData2.controls.MarriageType.touched &&
                                        userApperanceData2.controls.MarriageType.valid' class="propertyName" >
                                            <p> Marriage Type </p>
                                        </div>
                                        <select formControlName="MarriageType" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Marriage Type</option>
                                            <option *ngFor="let hc of lifeStyleMarriageType.results" class="op"
                                                [ngValue]="hc.id">{{hc.text}}</option>

                                        </select>
                                        <div *ngIf='
                                        userApperanceData2.controls.Smoke.touched &&
                                        userApperanceData2.controls.Smoke.valid' class="propertyName" >
                                            <p> Smoke </p>
                                        </div>
                                        <select formControlName="Smoke" class="form-control" name="length" id="length"
                                            ngModel>
                                            <option value="" class="d-none">Smoke</option>
                                            <option *ngFor="let hl of lifeStyleSmoke.results" class="op"
                                                [ngValue]="hl.id">{{hl.text}}</option>

                                        </select>

                                        <!-- <input placeholder="Weight" class="form-control" type="text">
                                        <input placeholder="Appearance" class="form-control" type="text">
                                        <input placeholder="Body Type" class="form-control" type="text">
                                        <input placeholder="Skin Color" class="form-control" type="text">
                                        <input placeholder="Hair Color" class="form-control" type="text">
                                        <input placeholder="Hair Type" class="form-control" type="text">
                                        <input placeholder="Hair Length" class="form-control" type="text"> -->
                                    </form>
                                    <!-- <button (click)="openModal()" class="btn com-btn">Completing</button> -->
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>
                    <e-tabitem>
                        <ng-template #headerText>
                            <div class="myHeaderText"> Cultural Values</div>
                        </ng-template>
                        <ng-template #content>
                            <div class="w-100 row justify-content-center profile-inputs">

                                <div>
                                    <form [formGroup]="userApperanceData3" action="">

                                        <div *ngIf='
                                        userApperanceData3.controls.Nationality.touched &&
                                        userApperanceData3.controls.Nationality.valid' class="propertyName" >
                                            <p> Nationality </p>
                                        </div>
                                        <select formControlName="Nationality" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Nationality</option>
                                            <option *ngFor="let age of Nationality.results" class="op"
                                                [ngValue]="age.id">{{age.text}}</option>
                                        </select>

                                        <div *ngIf='
                                        userApperanceData3.controls.EducationStage.touched &&
                                        userApperanceData3.controls.EducationStage.valid' class="propertyName" >
                                            <p> Education Stage </p>
                                        </div>
                                        <select formControlName="EducationStage" class="form-control" name="Weight"
                                            ngModel>
                                            <option value="" class="d-none">Education Stage</option>
                                            <option *ngFor="let ss of EducationStage.results" class="op"
                                                [ngValue]="ss.id">{{ss.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData3.controls.MotherLanguage.touched &&
                                        userApperanceData3.controls.MotherLanguage.valid' class="propertyName" >
                                            <p> Mother Language </p>
                                        </div>
                                        <select formControlName="MotherLanguage" class="form-control" name="Weight"
                                            ngModel>
                                            <option value="" class="d-none">Mother Language</option>
                                            <option *ngFor="let occ of MotherLanguage.results" class="op"
                                                [ngValue]="occ.id">{{occ.text}}</option>

                                        </select>


                                        <div *ngIf='
                                        userApperanceData3.controls.AnotherLanguages.touched &&
                                        userApperanceData3.controls.AnotherLanguages.valid' class="propertyName" >
                                            <p> Another Languages </p>
                                        </div>

                                        <select formControlName="AnotherLanguages" class="form-control" name="BodyType"
                                            id="BodyType" ngModel>
                                            <option value="" class="d-none">Another Languages</option>
                                            <option *ngFor="let bt of AnotherLanguages.results" class="op"
                                                [ngValue]="bt.id">{{bt.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData3.controls.Religion.touched &&
                                        userApperanceData3.controls.Religion.valid' class="propertyName" >
                                            <p> Religion </p>
                                        </div>
                                        <select formControlName="Religion" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Religion</option>
                                            <option *ngFor="let sc of Religion.results" class="op" [ngValue]="sc.id">
                                                {{sc.text}}</option>

                                        </select>

                                        <div *ngIf='
                                        userApperanceData3.controls.ReligionValue.touched &&
                                        userApperanceData3.controls.ReligionValue.valid' class="propertyName" >
                                            <p> Religion Value </p>
                                        </div>
                                        <select formControlName="ReligionValue" class="form-control" name="length"
                                            id="length" ngModel>
                                            <option value="" class="d-none">Religion Value</option>
                                            <option *ngFor="let hc of ReligionValue.results" class="op"
                                                [ngValue]="hc.id">{{hc.text}}</option>

                                        </select>
                                    </form>

                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>
                </e-tabitems>
            </ejs-tab>
            <!-- (click)="openModal()" -->
            <button [disabled]=" !userApperanceData1.valid || !userApperanceData2.valid || !userApperanceData3.valid"
                (click)="sendData()" class="btn com-btn">Completing</button>





        </div>
    </div>
</section>
<div id="myModal" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i>
        <h3> <i class="fas fa-check"></i> </h3>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="info-con">
                    <p>تهانينا</p>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>لقد اكملت من بيانات الملف الشخصي</span>
                </div>


            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <p>100%</p>
                </div>

            </div>
        </div>
        <!-- <button id="modalAcceptBtn" class="btn">Accept</button> -->

    </div>
</div>



<div id="myModal1" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal1()" id="closeModal" class="fas fa-times"></i>
        <h3> {{recomendationData.accuracy | number: "1.0-1"}}% </h3>
        <div class="row">
            <div class="col-12 mt-5">
                
                <div *ngFor="let key of recomendationData.diffrences " class="info-con">
                    <p>{{key.value[0]}}</p>
                    <p>{{key.key}}</p>
                </div>

            </div>
            <button (click)="acceptRecommendation(1)" id="modalAcceptBtn" class="btn">Accept</button>
            <button (click)="acceptRecommendation(0)" id="modalRejectBtn" class="btn">Accept</button>
        </div>
        <!-- <button id="modalAcceptBtn" class="btn">Accept</button> -->

    </div>
</div>
<app-send-us></app-send-us>