<!-- <nav class="nav-container">
    <div class="row">
        <div class="col-2">
            <div class="brand-image">
                <img class="" src="../../assets/5png/Group 10089.png" alt="">
            </div>
        </div>


        <div class="col-7">
            <div class="links-con">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Nomination</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Register</a></li>

                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="icons-con">
                <ul>
                    <li><i class="fas fa-crown"></i></li>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><i class="fas fa-language"></i></li>

                </ul>
            </div>
        </div>

    </div>
</nav> -->

<app-nav></app-nav>
<section class="premium-container my-5">
    <h2>Premium Filter</h2>

    <div class="semi-nav">
        <img src="../../assets/5png/crowns.png" alt="">
        <span>Distinguished Candidates Category 100</span>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>

           


        </div>
        <button class="btn see-btn">See More</button>
    </div>




    <div class="semi-nav">
        <img src="../../assets/5png/crowns.png" alt="">
        <span>Distinguished Candidates Category 50</span>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>


        </div>
        <button class="btn see-btn">See More</button>
    </div>

</section>

<div id="myModal" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i>
        <h3> Hassan Kordi </h3>
        <div class="row">
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Nationality</span>
                    <span>Egyption</span>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Age</span>
                    <span> 25</span>
                </div>

              
            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Education</span>
                    <span>High</span>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>exterior</span>
                    <span>Exterior</span>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Social status</span>
                    <span>Unmarried</span>
                </div>

            </div>
        </div>
        <button id="modalAcceptBtn" class="btn">See More</button>

    </div>
</div>

<app-send-us></app-send-us>