<!-- <nav class="nav-container">
    <div class="row">
        <div class="col-2">
            <div class="brand-image">
                <img class="" src="../../assets/5png/Group 10089.png" alt="">
            </div>
        </div>


        <div class="col-7">
            <div class="links-con">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Nomination</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Register</a></li>

                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="icons-con">
                <ul>
                    <li><i class="fas fa-crown"></i></li>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><i class="fas fa-language"></i></li>

                </ul>
            </div>
        </div>

    </div>
</nav> -->

<app-nav></app-nav>
<section class="premium-container my-5">
    <h2>Premium Filter</h2>

    <div *ngFor="let package of allData.lists">
        <div class="semi-nav">
            <img src="../../assets/5png/crowns.png" alt="">
            <span>{{package.subPackageName}}</span>
        </div>
        <div class="container">

            <div class="row">
                <div *ngFor="let item of package.results" class="col-lg-3 col-12">
                    <div (click)="openModal(item)" class="premium-item">
                        
                        <span class="per">{{item.accuracy | number: "1.0-1" }}%</span>
                        <span class="appro">appropriate</span>
                        <p>{{item.name}}</p>
                    </div>

                </div>
                <!-- <div class="col-lg-3 col-12">
                    <div (click)="openModal()" class="premium-item">
                        <span class="per">95%</span>
                        <span class="appro">appropriate</span>
                        <p>Hassan Kordi</p>
                    </div>

                </div>
                <div class="col-lg-3 col-12">
                    <div (click)="openModal()" class="premium-item">
                        <span class="per">95%</span>
                        <span class="appro">appropriate</span>
                        <p>Hassan Kordi</p>
                    </div>

                </div> -->

            </div>
            <!-- <div class="row">
                <div class="col-lg-3 col-12">
                    <div (click)="openModal()" class="premium-item">
                        <span class="per">95%</span>
                        <span class="appro">appropriate</span>
                        <p>Hassan Kordi</p>
                    </div>

                </div>
                <div class="col-lg-3 col-12">
                    <div (click)="openModal()" class="premium-item">
                        <span class="per">95%</span>
                        <span class="appro">appropriate</span>
                        <p>Hassan Kordi</p>
                    </div>

                </div>
                <div class="col-lg-3 col-12">
                    <div (click)="openModal()" class="premium-item">
                        <span class="per">95%</span>
                        <span class="appro">appropriate</span>
                        <p>Hassan Kordi</p>
                    </div>

                </div>




            </div> -->
            <!-- <button class="btn see-btn">See More</button> -->
        </div>

    </div>



    <!-- 
    <div class="semi-nav">
        <img src="../../assets/5png/crowns.png" alt="">
        <span>Distinguished Candidates Category 50</span>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>
            <div class="col-lg-3 col-12">
                <div (click)="openModal()" class="premium-item">
                    <span class="per">95%</span>
                    <span class="appro">appropriate</span>
                    <p>Hassan Kordi</p>
                </div>

            </div>


        </div>
        <button class="btn see-btn">See More</button>
    </div> -->

</section>

<div id="myModal" class="myModal">
    <div class="modalBox">
        <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i>
        <h3> {{singleUserData.name}} </h3>
        <div class="row">
            <div class="col-12 mt-5">
                <div *ngFor="let key of singleUserData.results" class="info-con">
                    <span>{{key.key}}</span>
                    <span>{{key.value[0]}}</span>
                </div>

            </div>
            <!-- <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Age</span>
                    <span> 25</span>
                </div>


            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Education</span>
                    <span>High</span>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>exterior</span>
                    <span>Exterior</span>
                </div>

            </div>
            <div class="col-12 mt-5">
                <div class="info-con">
                    <span>Social status</span>
                    <span>Unmarried</span>
                </div>

            </div> -->
        </div>
        <!-- <button id="modalAcceptBtn" class="btn">See More</button> -->
        <button [disabled]="!inPackange" (click)="changeStatus(singleUserData , 0)"
        style="color: white; background-color: red; margin: 15px ;" class="btn">Rejected</button>
    <button [disabled]="!inPackange" (click)="changeStatus(singleUserData , 1)" style="background-color: #fed94c; margin: 15px;"
        class="btn">Accepted</button>

    </div>
</div>

<app-send-us></app-send-us>