<app-nav></app-nav>
<section class="search-section">


    <div class="container">
        <div class="row">
            <div class="col-4 btn-con">
                <button class="btn"> Age </button>
                <button class="btn"> Education </button>
            </div>
        </div>
    </div>
    <div class="container">


        <h2>Research Results</h2>

        <div class="row row-container">
            <div class="col-lg-4 col-md-5 col-6">
                <div class="info-con">
                   <p> mohammed Yosry</p>
                   <p> <span>appropriate</span> <span style="color: #Fed94c;" class="per">100%</span></p>

                </div>
                
            </div>
            <div class="col-lg-4 col-md-5 col-6">
                <div class="time-con">
                   <p>
                        <i class="fas fa-times mx-5"></i>
                        <i class="fas fa-check"></i>
                    </p>

                </div>
                
            </div>

        </div>

        <div class="row row-container">
            <div class="col-lg-4 col-md-5 col-6">
                <div class="info-con">
                   <p> mohammed Yosry</p>
                   <p> <span>appropriate</span> <span style="color: #Fed94c;" class="per">100%</span></p>

                </div>
                
            </div>
            <div class="col-lg-4 col-md-5 col-6">
                <div class="time-con">
                   <p>
                        <i class="fas fa-times mx-5"></i>
                        <i class="fas fa-check"></i>
                    </p>

                </div>
                
            </div>

        </div>


        <div class="row row-container">
            <div class="col-lg-4 col-md-5 col-6">
                <div class="info-con">
                   <p> mohammed Yosry</p>
                   <p> <span>appropriate</span> <span style="color: #Fed94c;" class="per">100%</span></p>

                </div>
                
            </div>
            <div class="col-lg-4 col-md-5 col-6">
                <div class="time-con">
                   <p>
                        <i class="fas fa-times mx-5"></i>
                        <i class="fas fa-check"></i>
                    </p>

                </div>
                
            </div>

        </div>

    </div>

</section>

<app-send-us></app-send-us>