<app-nav></app-nav>
<section class="bending-container">
    <div class="container">
        <h3>Pending Maching</h3>
        <div class="bending-box">
            <div class="container">
                <h4 class="text-center">Congratulations</h4>
                <p style="margin-left: 30px; font-weight: 700;">You Have Been Approved, And This Is Life Partner
                    Information</p>
                <div class="row justify-content-center ">
                    <div class="col-lg-5 col-6 d-flex text-center">
                        <div class="line">

                        </div>
                        <div>
                            <div class="d-flex mt-1">
                                <span class="circle"></span>
                                <p *ngIf="!isFemale">Guardian's Name</p>
                                <p *ngIf="isFemale">Name</p>

                            </div>
                            <div class="d-flex">
                                <span class="circle"></span>
                                <p *ngIf="isFemale">Mobile</p>
                                <p *ngIf="!isFemale"> Guardian's Mobile</p>

                            </div>
                            <div class="d-flex">
                                <span class="circle"></span>
                                <p>Pending</p>

                            </div>
                            <div class="d-flex">
                                <span class="circle"></span>
                                <p> Remaining Days </p>

                            </div>

                        </div>

                    </div>
                    <div class="col-lg-5 col-6 text-end">
                        <p> <span>{{partnerData.name}}</span></p>
                        <p> <span>{{partnerData.phone}}</span></p>
                        <p> <button class="btn">Diffrences</button></p>
                        <p> <span> {{partnerData.remainingDays}}</span></p>
                    </div>

                </div>
                <div *ngIf="!isFemale" class="row warning mt-5">
                    <h4>Attention!!</h4>
                    <p>You Are Not Allowed To Inform The Parent That The Nomination Was Made Through The Application</p>
                </div>
                <div class="d-flex btns-con  mt-5">
                    <button [disabled]="!inPackange" (click)="changePendingStatus(partnerData,0)" style="color: white; background-color: red;" class="btn">Rejected</button>
                    <button [disabled]="!inPackange" (click)="changePendingStatus(partnerData,1)" style="background-color: #fed94c;" class="btn">Accepted</button>
                    

                </div>
            </div>

        </div>
    </div>
</section>
<app-send-us></app-send-us>
<!-- <div class="planning-route-side-stepper">
    <div class="side-stepper-circle-active shadow" (click)="sideStepper(1)"  [ngClass]="(stepSide > 1)?'side-stepper-circle-done':''">
        <p>asd</p>
    </div>
    

    <div class="side-stepper-line shadow"></div>
    <div class="shadow" (click)="sideStepper(2)"  [ngClass]="timeStep">
        
    </div>
    <div class="side-stepper-line shadow"></div>
    <div class="shadow" (click)="sideStepper(3)"  [ngClass]="machineStep">
      
    </div>
    <div class="side-stepper-line shadow"></div>
    <div class="shadow" (click)="sideStepper(4)"  [ngClass]="resourceStep" >
      
    </div>
</div> -->