<nav class="nav-container">
    <div class="row">
        <div class="col-2">
            <div class="brand-image">
                <img class="" src="../../assets/5png/Group 10089.png" alt="">
            </div>
        </div>


        <div class="col-7">
            <div class="links-con">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Nomination</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Register</a></li>

                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="icons-con">
                <ul>
                    <li><i class="fas fa-crown"></i></li>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><i class="fas fa-language"></i></li>

                </ul>
            </div>
        </div>

    </div>
</nav>

<section class="loans-container">
  <div class="container">
    <h3>Loans And Facilities </h3>
    <!-- <div class="container"> -->
    <img src="../../assets/5png/Group 10415.png" alt="">

    <h3>AL AHLI BANK OF KUWAIT</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deserunt sunt minus voluptatibus et debitis
        veniam eligendi quod, inventore architecto, dolorum quam autem dolorem adipisci. Recusandae eius accusantium
        eligendi quas. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad tempore at reprehenderit, corrupti,
        neque magni, odio voluptatibus minus soluta nulla aliquam autem architecto. Consequatur sit quia dolorem magnam,
        assumenda excepturi.</p>

        <div class="row">
            <div class="col-6">
                <i class="fas fa-phone-alt"></i>
                <span>123456</span>

            </div>
            <div class="col-6">
                <i class="fas fa-envelope"></i>
                <span>http://ana@gmail.com</span>
            </div>
        </div>
  </div>
    
</section>

<app-send-us></app-send-us>