<!-- <nav class="nav-container">
    <div class="row">
        <div class="col-2">
            <div class="brand-image">
                <img class="" src="../../assets/5png/Group 10089.png" alt="">
            </div>
        </div>


        <div class="col-7">
            <div class="links-con">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Nomination</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Register</a></li>

                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="icons-con">
                <ul>
                    <li><i class="fas fa-crown"></i></li>
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="far fa-bell"></i></li>
                    <li><i class="fas fa-language"></i></li>

                </ul>
            </div>
        </div>

    </div>
</nav> -->

<app-nav></app-nav>
<section class="loans-container">
  <div class="container">
    <h3>Loans And Facilities </h3>
    <!-- <div class="container"> -->
        <!-- [src]="imgUrl+img.image" -->
    <img [src]="imgUrl+appInfo.loanAndConditionBankImage" alt="">

    <h3>{{appInfo.loanAndConditionBankName}}</h3>
    <p>{{appInfo.loanAndFacilities}}</p>

        <div class="row">
            <div class="col-sm-6">
                <i class="fas fa-phone-alt"></i>
                <span>{{appInfo.loanAndConditionBankNumber}}</span>

            </div>
            <div class="col-sm-6">
                <i class="fas fa-envelope"></i>
                <span>{{appInfo.loanAndConditionEmail}}</span>
            </div>
        </div>
  </div>
    
</section>

<app-send-us></app-send-us>