<section class="register-container">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 register-img">
        <img src="../../assets/5png/Group 10089.png" alt="" />
        <p>Log Up</p>
        <button class="btn">Log Up</button>
      </div>
      <div class="col-md-6 register-inputs">
        <div>
          <input placeholder="First Name" class="form-control" type="text" />
          <input placeholder="Family Name" class="form-control" type="text" />
          <form #f="ngForm" [formGroup]="phoneForm">
            <ngx-intl-tel-input
            id="num"
            class="form-control"
              [cssClass]="'custom'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.India"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phone"
            >
            </ngx-intl-tel-input>
          </form>
          <input
            placeholder="mobile (library here )"
            class="form-control"
            type="text"
          />
          <input placeholder="Password" class="form-control" type="password" />
          <input
            placeholder="Confirm Password"
            class="form-control"
            type="password"
          />
          <!-- <b><p>Forget Password ?</p></b> -->

          <p>I Have An Account <span routerLink="/login">Log In</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
