<section class="register-container">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-4 register-img">
        <img src="../../assets/5png/Group 10089.png" alt="" />
        <p>Log Up</p>
        <button [disabled]='!userData.valid && !gender != null' (click)="sendData()" class="btn">Log Up</button>
      </div>
      <div class="col-md-6 register-inputs">
        <div>
          <form [formGroup]="userData" action="">
            <input formControlName="firstName" placeholder="First Name" class="form-control" type="text" />
            <input formControlName="lastName" placeholder="Family Name" class="form-control" type="text" />
            <!-- <form #f="ngForm" [formGroup]="phoneForm">
            <ngx-intl-tel-input
            id="num"
            class="form-control"
              [cssClass]="'custom'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.India"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phone"
            >
            </ngx-intl-tel-input>
          </form> -->
            <input formControlName="phone" placeholder="Phone" class="form-control" type="text" />
            <!-- <input formControlName="countryCode" placeholder="Country Code" class="form-control" type="text" /> -->
            <select formControlName="countryCode" class="form-control"  type="text" name="" id="">
              <option  class="d-none" value="">Country Code</option>
              <option *ngFor="let key of conntriesCodes" value="{{key}}">{{key}}</option>
          </select> 
            <input formControlName="password" placeholder="Password" class="form-control" type="password" />
            <div *ngIf='
            userData.controls.password.touched &&
            userData.controls.password.invalid
            ' class="alert alert-danger" role="alert">
                <i> Must Complex Password Must Include A-a-@-1 And Minimum eight characters  </i>
            </div>
            <!--  -->
            <input formControlName="confirmPassword" placeholder="Confirm Password" class="form-control"
              type="password" />
              <div *ngIf='
              userData.controls.confirmPassword.touched &&
              userData.controls.confirmPassword.invalid
              ' class="alert alert-danger" role="alert">
                  <i> Must Complex Password Must Include A-a-@-1 And Minimum eight characters  </i>
              </div>
              <!--  -->
              <!-- formControlName="gender" -->
              <select  (change)="onSelect()"  class="form-control" name="gender" id="gender">
                <option class="d-none"  value="Gender">Gender</option>
                <option  value="0">Male</option>
                <option  value="1">Female</option>
              </select>
          </form>
          <!-- <b><p>Forget Password ?</p></b> -->

          <p>I Have An Account <span routerLink="/login">Log In</span></p>
        </div>
      </div>
    </div>
  </div>
</section>


<div id="myModal" class="myModal">
  <div class="modalBox">
      <!-- <i (click)="closeModal()" id="closeModal" class="fas fa-times"></i> -->

      <div class="row">
       
          <div class="col-12 mt-5">
            <span>{{femaleTerms}}</span>
            <form [formGroup]="parentData" (ngSubmit)="sendParentData()" action="">
              <input  formControlName="name"  placeholder="Guardin's Name" class="form-control" type="text">
              <input  formControlName="phone"  placeholder="Guardin's mobile" class="form-control" type="text">
              <!-- <input  formControlName="countryCode"  placeholder="Guardin's Country Code" class="form-control" type="text"> -->
              <select formControlName="countryCode" class="form-control"  type="text" name="" id="">
                <option  class="d-none" value="">Guardin's Country Code</option>
                <option *ngFor="let key of conntriesCodes" value="key">{{key}}</option>
            </select> 
              
              <button  id="modalAcceptBtn" [disabled]='!parentData.valid' class="btn com-btn">Completing</button>
             </form>

          </div>

      </div>
     
  </div>
</div>