<section class="register-container">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 register-img">
                <img src="../../assets/5png/Group 10089.png" alt="">
                <p>Log Up</p>
                <button class="btn">Log Up</button>
            </div>
            <div class="col-md-6 register-inputs">
              <div>
                <input placeholder="First Name" class="form-control" type="text">
                <input  placeholder="Family Name" class="form-control" type="text">
                <input  placeholder="mobile (library here )" class="form-control" type="text">
                <input  placeholder="Password" class="form-control" type="password">
                <input  placeholder="Confirm Password" class="form-control" type="password">
                <!-- <b><p>Forget Password ?</p></b> -->
         
                <p>I Have An Account <span routerLink="/login">Log In</span></p>
              </div>
            </div>
        </div>
    </div>
    
    </section>
    